.merge-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin: 0 1rem;
    border: 1px solid #ddd;

    .merge-button {
        width: 12%;
        background-color: rgb(92, 153, 92);
        border-radius: 4px;
        color: white;
        font-size: medium;
        padding: 0.75rem;
        margin-top: 2rem;
        margin-left: 1rem;
        cursor: pointer;

        &:disabled {
            background-color:  rgba(92, 153, 92, 0.5);
            cursor: not-allowed;
        }

    }
}